---
title: Test page
---


<div class="card">
	<div class="card-header">
		<h3 class="card-title">申請文件管理</h3>
	</div>
	<div class="card-body">
		<div class="row row-sm">
      <div class="col">
        <input type="text" class="form-control" placeholder="Search for…">
      </div>
      <div class="col-auto">
        {% include ui/button.html icon="search" icon-only=true color="secondary" %}
      </div>
    </div>
    
    <table class="table">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td>{% include ui/button.html text="Edit" modal-id="report" %}</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
          <td><a href="#" class="btn btn-link">
            Edit
          </a></td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
          <td><a href="#" class="btn btn-link">
            Edit
          </a></td>
        </tr>
      </tbody>
    </table>
	</div>
</div>



{% include ui/modal.html modal-id="report" size="lg" %}
