<footer class="footer">
	<div class="container">
		<div class="row text-center align-items-center flex-row-reverse">
			<div class="col-lg-auto ml-lg-auto">
				<div>
					地址：40306台中市西區民生路140號(原住民族教育及文化研究中心)　電話：04-22188821、04-22188645　傳真：04-22183648
				</div>
			</div>
			<div class="col-12 col-lg-auto mt-3 mt-lg-0">
				Copyright © {{ site.time | date: '%Y' }}
				<a href="{{ site.base }}" class="link-secondary">{{ site.title }}</a
				>. All rights reserved.
			</div>
		</div>
	</div>
</footer>
