<nav class="navbar navbar-light navbar-secondary navbar-expand" id="navbar-secondary">
	<div class="container">
		{% include layout/navbar-logo.html class="d-none-navbar-vertical" %}

		{% include layout/navbar-menu.html %}

		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown pl-3">
				<a href="#" class="nav-link d-flex lh-1 text-reset p-0 text-left" data-toggle="dropdown">
					{% include ui/avatar.html person-id=1 %}
					<div class="d-none d-lg-block pl-2">
						<div>Paweł Kuna</div>
						<div class="mt-1 small text-muted">Founder</div>
					</div>
				</a>
				{% include ui/dropdown-menu.html right=true icons=true separated=true arrow=true %}
			</li>
		</ul>
	</div>
</nav>

